*{
    text-decoration: none;
    list-style-type: none;
}

/* ******** GENERALES ******** */


body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


a {
    color: white;
}

ul {
    display: flex;
    justify-content: center;    
}

li {
    margin-left: 20px;
}
.Net-esp {
    color: white;
    text-align: bottom;
    margin: 30px;
    
}


/* ******** HEADER-NAV ******** */

.header {
    height: 13vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 15vw;
    height: 13vh;
    background-color: black;
    box-sizing: content-box;
}

.header .header-menu-uno {
    position: absolute;
    left: 12%; 
}

.header .header-menu-dos {
    padding-right: 30px;
    color: white;
}




/* ******** MAIN ******** */



.main {
height: 100%;
background-color: lightgrey
}

.main-documentales-container{
    border: solid black 1px;
    width: 100vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.main-volver-container{
    border: solid black 1px;
    height: 30vh;

}
.main-series-containe{
    border: solid black 1px;
    height: 30vh;
}





/* ******** FOOTER ******** */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin: 0;
    background-color: black;
}

.footer ul {
   color: white;
   padding-top: 5%;
}

.footer p {
    color: white;
    

}







